<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TIENDA EN LINEA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<bdy>
    <main class="container">

        <main class="container">
            <div class="container py-5">
                <h1 class="mb-3 text-center">Listado de Productos</h1>
                <a href="/clientes/create" class="btn btn-success mb-2">Crear Producto</a>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                    <div class="col" th:each="cliente : ${clientes}">
                        <div class="card h-100 d-flex flex-column">
                            <img th:src="@{'/images/' + ${cliente.imagenFile}}" class="card-img-top" alt="..." width="100">
                            <div class="position-absolute top-0 end-0 m-3 badge bg-dark text-light"
                                th:text="${cliente.nombre}"></div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title" th:text="${cliente.nombre}"></h5>
                                <!-- <p class="card-text" th:text="${producto.descripcion}"></p> -->
                                <div class="mt-auto d-flex justify-content-between">
                                    <strong th:text="@{'$' + ${cliente.direccion}}"></strong>
                                    <span class="text-muted" th:text="${cliente.email + ' disponibles'}"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </main>
    
        <script>
            /* Comprueba si existe un mensaje de éxito */
            let successMessage = '[[${successMessage}]]';
            if (successMessage) {
                Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: successMessage,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </body>
    
    </html>